# Q1  What are data structures, and why are they important ?

Data structures are ways to store, organize, and manage data in a computer so that it can be used efficiently. Think of a data structure like a container — depending on what you're doing, you choose the container that best fits your needs.

Some common types of data structures are:

Array: A collection of elements stored in a specific order.

Linked List: A chain of elements where each element points to the next.

Stack: A "last in, first out" (LIFO) structure.

Queue: A "first in, first out" (FIFO) structure.

Tree: A hierarchical structure with nodes.

Graph: A set of nodes connected by edges (used in maps, social networks, etc.).

Hash Table (or Dictionary): A structure that maps keys to values for quick lookup.

# Why Are Data Structures Important?

1. The right data structure can make your program run faster and use less memory. For example, searching for a number in a sorted array is much quicker than searching in an unsorted one

2.Choosing the right structure ensures you don’t waste memory. A linked list, for example, is more memory-efficient than an array when the size of the data isn’t known beforehand.

# Q2. Explain the difference between mutable and immutable data types with examples

**Mutable Data Types**

..Mutable data types are those that can be changed after they are created. You can modify, add, or remove elements without changing the identity (memory address) of the object.

**example**

1.list
my_list=[1,2,3]

my_list.append(4)

print(my_list) #output: [1,2,3,4]

2.Dictionary

my_dict={'name':'fazal'}

my_dict['age']=22

print(my_dict) #output: {'name':'fazal','age':22}

3.Set

set={1,2}

set.add(3)

print(set) #output: {1,2,3}

**Immutable Data Types**:

Immutable data types are those that cannot be changed after they are created. If you try to modify them, a new object is created instead.

example:

String:
name="fazal"

name=name+"khan"

print(name) # output: fazal khan (new string created)

my_tuple=(1,2,3)

my_tuple[0]=10 ## this will cause an error

# Q3.What are the main differences between lists and tuples in Python ?

**List:**

A list is a mutable, ordered collection of items in Python. This means you can change, add, or remove elements after the list is created.

.syntax : square brackets[]

.performance: slightly slower(more flexible)

**Tuple:**

A tuple is an immutable, ordered collection of items in Python. Once a tuple is created, you cannot change, add, or remove its elements.

.syntax: parentheses;()

.performance: faster(fixed size,less memory)

# Q4.Describe how dictionaries store data.

A dictionary in Python is an unordered collection of key-value pairs. Each key is unique, and it maps to a specific value.

.**How Dictionaries Store Data (Internally)**

Dictionaries store data using a data structure called a hash table.

**Keys are hashed:**

Python takes your key (e.g. "name"), and runs it through a function called a hash function.

This function converts the key into a number called a hash value.

**Hash value determines the position:**

That number is used to decide where the key-value pair should be placed in memory (in a bucket or slot).

**Value is stored with the key:**

The value (e.g. "Ali") is stored along with the key in that memory location.

**Quick access:**

When you access a value using its key (my_dict["name"]), Python again hashes the key, finds the slot, and quickly returns the value.

# Q5. Why might you use a set instead of a list in Python ?

# Set:

A set is an unordered, mutable collection in Python that does not allow duplicate elements. It is used when you want to store unique items and perform fast lookups or set operations.

# List:

A list is an ordered, mutable collection that allows duplicate elements. It is used when the order matters and duplicates are acceptable.

.**Why Use a Set Instead of a List?**

.Set removes duplicates on its own.

.List allows duplicates.

.my_list = [1, 2, 2, 3]

my_set = set(my_list)

print(my_set)  # Output: {1, 2, 3}

.Sets use a hash table, so checking if an item exists is very fast.

.Lists search one item at a time (slower for large data).

.my_list = [1, 2, 3, 4, 5]

print(3 in my_list)  # Slower

.my_set = {1, 2, 3, 4, 5}

print(3 in my_set)   # Faster

# Q6.What is a string in Python, and how is it different from a list ?

# String:

.A string in Python is a sequence of characters, enclosed in single quotes ('), double quotes ("), or triple quotes (''' or """).
It is used to represent textual data like names, sentences, or symbols

.name = "Ali"

message = 'Hello, world!'

# List:

.A list in Python is a mutable, ordered collection that can store multiple items of any data type, including numbers, strings, or even other lists.


.numbers = [1, 2, 3, 4]

names = ["Ali", "Fatima", "Zain"]

.

# Q7. How do tuples ensure data integrity in Python ?

# .What is Data Integrity:

.Data integrity means that the data is accurate, consistent, and protected from being changed accidentally.

.**How Tuples Help Ensure Data Integrity in Pytho**n

.Tuples help maintain data integrity because they are immutable. This means once you create a tuple, you cannot change its contents — no adding, removing, or changing elements.


.Because tuples cannot be modified, they act like read-only containers. This ensures the data inside remains safe and unchanged, either by mistake or by other parts of the program.

# Q8.What is a hash table, and how does it relate to dictionaries in Python ?

A hash table is a data structure that stores data in key-value pairs, allowing fast access, insertion, and deletion — usually in constant time, O(1).

It uses a hash function to convert the key into an index in an array where the value is stored.

. **How Is This Related to Python Dictionaries?**

n Python, a dict (dictionary) is actually implemented using a hash table behind the scenes.

Example:

fruit_prices = {

    "apple": 100,

    "banana": 150
}

# Q9.Can lists contain different data types in Python

Python is a dynamically typed language, which means a list can store mixed data types — such as integers, strings, floats, booleans, other lists, and even functions or objects — all in the same list

.Example:

.my_list = [42, "hello", 3.14, True, [1, 2], {"key": "value"}, len]

print(my_list)

output:

.[42, 'hello', 3.14, True, [1, 2], {'key': 'value'}, <built-in function len>]

.Name : str

.Age:int

.GPA:float

.Enrooled:bool

# Q10. Explain why strings are immutable in Python

In Python, strings are immutable, which means once a string is created, it cannot be changed. Any operation that appears to change a string will actually create a new string object.

.

# Q11.What advantages do dictionaries offer over lists for certain tasks ?

.Dictionaries use named keys instead of numeric indexes, which makes code easier to understand.

.# Using dictionary

person = {"first_name": "John", "last_name": "Doe"}

print(person["first_name"])  # clear meaning

# Using list
person_list = ["John", "Doe"]

print(person_list[0])  # less clear unless you remember what index 0 means

..You can use almost any immutable type as a key (e.g. strings, numbers, tuples).

# Q12. Describe a scenario where using a tuple would be preferable over a list

.Tuples and lists are both sequences in Python, but a tuple is immutable (cannot be changed), while a list is mutable.


.**Scenario Where a Tuple is Preferable:**

.Suppose you're writing a function that returns multiple values, like coordinates or a person's record. You know that:

The number of items is fixed

The values should not be changed

.**Why Use a Tuple?**

.Coordinates always have exactly two values (lat, long) — fixed size.

You don’t want the caller of the function to accidentally modify the values.

# Q13.How do sets handle duplicate values in Python ?

.In Python, a set is a collection of unique, unordered elements. This means:

.my_set = {1, 2, 3, 2, 4, 3}

print(my_set)

.output: {1, 2, 3, 4}

.**What Happens Internally?**

.Python uses hashing to store elements in a set.

When you add an element, Python checks its hash value.

If the hash already exists in the set, it won’t add the duplicate.


my_set = set()

my_set.add(10)

my_set.add(10)  # Duplicate

print(my_set)   # Only one 10 is stored

# Q14.P How does the “in” keyword work differently for lists and dictionaries ?

.The in keyword is used to check if a value exists in a sequence (like a list, string, tuple) or a collection (like a dictionary or set).

It returns a boolean value:

True if the item is found

False if it’s not found

.**How in Works for Lists**

.numbers = [1, 2, 3, 4]

print(2 in numbers)     # True

print(5 in numbers)     # False

.**How in Works for Dictionaries**

.person = {"name": "Alice", "age": 30}

print("name" in person)       # True

print("Alice" in person)      # False

# Q15. Can you modify the elements of a tuple? Explain why or why not

.**Can You Modify the Elements of a Tuple?**

.No, you cannot modify the elements of a tuple.

.Tuples in Python are immutable, which means once they are created, their elements cannot be changed, added, or removed.

.**Why Are Tuples Immutable?**

.Tuples are designed to hold data that should not change — like coordinates, dates, or fixed settings. This immutability helps:


1. Prevent accidental changes

2. Improve performance and memory usage

3. Allow tuples to be used as dictionary keys or set elements (they must be hashable)

# Q16. What is a nested dictionary, and give an example of its use case3

.A nested dictionary is a dictionary inside another dictionary.

.It allows you to store complex, structured data, like a group of dictionaries, all connected to a main dictionary.

.**Example: Student Records (Use Case)**

.Let’s say you're building a school management system. You want to store information about students, like their name, age, and grades.

# Q17. Describe the time complexity of accessing elements in a dictionary

.In Python, a dictionary (dict) is a hash table–based data structure that stores key-value pairs.

.**Explanation:**

.Average Case — O(1) (Constant Time)

.Python uses hashing to find the key quickly.

The hash function maps the key to a location (bucket) in memory.

So Python doesn’t need to search through all keys — it jumps straight to the value.

.**Worst Case — O(n)**

.Happens rarely, when there are many hash collisions (multiple keys go to the same bucket)

.Then Python has to check through the collided items, which can take longer.

# Q18. In what situations are lists preferred over dictionaries ?

**.When Order Matters**

.Lists maintain the order of elements based on their position (index). If you need to access or work with elements in a specific order, use a list.

.colors = ["red", "green", "blue"]

print(colors[0])  # Output: "red"

.**When You Only Need Values (Not Key-Value Pairs)**

.Lists store single values, not pairs. If you don’t need to associate values with keys, a list is simpler and cleaner.

.scores = [85, 90, 78]  # Just a list of numbers

.**When You Need to Store Duplicates**

.Lists allow duplicate values. Dictionaries do not allow duplicate keys.

.fruits = ["apple", "banana", "apple", "orange"]

# Q19.Why are dictionaries considered unordered, and how does that affect data retrieval ?

.**Before Python 3.7:**

.Dictionaries were unordered collections, meaning:

The order of items (key-value pairs) was not guaranteed.

You couldn’t rely on the items being returned in the same order you added them.

.**What Changed in Python 3.7+?**

.tarting from Python 3.7, dictionaries preserve insertion order as an implementation detail — and in Python 3.8+, it's an official part of the language.

.**How Does This Affect Data Retrieval?**

. Key-Based Lookup Is Always Fast (O(1))

Order doesn't affect how you get a value.

You retrieve data using keys, not positions.

# Q20.Explain the difference between a list and a dictionary in terms of data retrieval.

**1.List**

.A list in Python is an ordered collection of items.
Each item is accessed by its index (position), starting from 0.

.**Explanation:**

.Think of a list like a row of boxes.

Each box (item) has a number (index).

You access a value using that number.

**2.Dictionary**

.A dictionary in Python is a collection of key-value pairs.
You access items by their key, not by index.

.**Explanation:**

.Think of a dictionary like a real dictionary book.

You search for a word (key), and get its definition (value).

# Practical Questions

# Q1. Write a code to create a string with your name and print it.

In [ ]:
my_name= "Md fazal"
print("my name is",my_name)

my name is Md fazal

# Q2. Write a code to find the length of the string "Hello World"

In [ ]:
str="hello world"
print(str)
len(str)

hello world

11

# Q3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
a = "fazal"
a[:3]

'faz'

# Q4. Write a code to convert the string "hello" to uppercase

In [ ]:
str ="hello"

In [ ]:
str

'hello'

In [ ]:
str.upper()

'HELLO'

# Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
text="i like apple"
new_text=text.replace("apple","orange")
print(new_text)

i like orange

# Q6.Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

## Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
num=[1,2,3,4]
num.append(10)

In [ ]:
num

[1, 2, 3, 4, 10]

# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
a=[1,2,3,4,5]
a.remove(3)

In [ ]:
a

[1, 2, 4, 5]

# Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list=["a","b","c","d"]
second_element=list[1]
print("the second element is:",second_element)

the second element is: b

# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
num=[10,20,30,40,50]
num.reverse()

In [ ]:
num

[50, 40, 30, 20, 10]

# Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
num = (100,200,300)
print(num)

(100, 200, 300)

# Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
text=('red','green','blue','yellow')
second_to_last=text[-2]
print(second_to_last)

blue

# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
num = (10,20,5,15)
minimum_num=min(num)
print(minimum_num)

5

# Q14.. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animal=('dog','cat','rabbit')
animal.index("cat")

1

# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits=('apple','mango','banana')

if 'kiwi' in fruits:
  print('yes')
else:
  print('no')

no

# Q16.. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [39]:
num = {"a","b","c"}
print(num)

{'b', 'c', 'a'}

In [40]:
type(num)

set

# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [41]:
num = {1,2,3,4,5}
print(num)

{1, 2, 3, 4, 5}

In [44]:
num.clear()

In [45]:
num

set()

# Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [46]:
number = {1,2,3,4}
number

{1, 2, 3, 4}

In [47]:
number.remove(4)

In [48]:
number

{1, 2, 3}

# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [49]:
set1={1,2,3}
set2={3,4,5}
union_of_set=set1.union(set2)
print(union_of_set)

{1, 2, 3, 4, 5}

# Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [51]:
set1={1,2,3}
set2={2,3,4}
intersection_set=set1.intersection(set2)
print(intersection_set)

{2, 3}

# Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [1]:
my_dic={"name":"fazal","age":"22","city":"siwan"}
print(my_dic)

{'name': 'fazal', 'age': '22', 'city': 'siwan'}

# Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [2]:
my_dic={'name':'john','age':25}
my_dic['country']="usa"
print(my_dic)

{'name': 'john', 'age': 25, 'country': 'usa'}

# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [3]:
my_dic={'name':'Alice','age':30}
name_value=my_dic['name']
print(name_value)

Alice

# Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [4]:
information={'name':'Bob','age':22,'city':'New York'}
information.pop("age")
print(information)

{'name': 'Bob', 'city': 'New York'}

# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [5]:
person={"name":"Alice","city":"Paris"}
if "city" in person:
  print("city exists")

else:
  print("city does not exist")

city exists

# Q26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [6]:
my_list=[1,2,3,4,5]
my_tuple=(1,2,3,4,4)
my_dic={'name':'fazal','age':22}
print(my_list)
print(my_tuple)
print(my_dic)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 4)
{'name': 'fazal', 'age': 22}

# Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(repplaced)

In [7]:
import random

numbers = [random.randint(1, 100) for _ in range(5)]

numbers.sort()

print("Sorted list of random numbers:", numbers)

Sorted list of random numbers: [7, 8, 22, 36, 78]

# Q28. Write a code to create a list with strings and print the element at the third index.

In [9]:
my_list=[1,2,"fazal","md",3+4j,True]

print(my_list[3])

md

# Q29. Write a code to combine two dictionaries into one and print the result.

In [10]:
dict1 = {'name': 'Ajay', 'age': 30}
dict2 = {'city': 'siwan', 'country': 'indai'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Ajay', 'age': 30, 'city': 'siwan', 'country': 'indai'}

# Q30.Write a code to convert a list of strings into a set.

In [11]:
fruits = ["apple","banana","mango","apple","mango"]
fruits_set = set(fruits)
print(fruits_set)

{'apple', 'banana', 'mango'}